.destination {
  margin: 4rem 6rem;
}

/* Additional styles for elements within .destination */
.destination h2 {
  font-size: 3rem;
}

.first-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}
.first-des-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.des-text {
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
}

.des-text h2 {
  padding-bottom: 1rem;
}

.unique-image-1 {
  /* Styles for the first image */
  width: 300px; 
  border: 2px solid red; 
}

.unique-image-2 {
  /* Styles for the second image */
  width: 350px; 
  border: 2px solid blue; 
}

@media screen and (max-width: 850px){
  .destination {
    margin: 4rem 2rem;
  }
  .first-des {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }
.first-des-reverse {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 4.5rem;
}

  .des-text {
    width: 100%;
  }
  .image {
    width: 100%;
  }
}
