.destination {
    margin: 4rem 6rem;
}

.destination h1{
    font-size: 3rem;

}
.first-des{
    display: flex;
    align-items: centre;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.des-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;   
}
.des-text h2{
    padding-bottom: 1rem;
}
.image{
    position:relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.image img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0 ,0.19);
}
